.top
		{
			width: 100%;
			height: 200px;
		}
.header
{
	padding: 0;
	margin-top: 100px;
	margin-left: 5px;
	margin-right: 5px;
}
.header h2
{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.single-album
{   

	position:relative;
	overflow: hidden;
	box-shadow: 5px 5px 15px #000;
	border-radius: 150px 20px 30px 23px;
	margin-top: 100px;
	margin-left: 0px;
	width: 250px;
}
.album-img
{
	position: relative;
	overflow: hidden;
}
.album-img img
{
	width: 100%;
	height: 250px;
	transition: .4s;
}
.single-album:hover .album-img img
{
   transform: scale(1.5,1.5);

}
.album-content
{
	height: 40px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	position: relative;
	bottom: 0;
	transition: all .4s;
	background: green;
}
.single-album:hover .albumm-content
{
	height: 150px;

}
.album-info
{
	transition:all .5s
	padding:5px 30px 5px 30px;
}
.album-info h3
{
	font-size: 16px;
	color: #000;
	margin:5px;
	text-transform: uppercase;
}
.single-album:hover .albumm-info h3
{
	color:green;
}
.album-text
{
  color: #000;
  padding: 0 10px 5px;
}